vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Sep 2003 15:37:07 -0000
vti_author:SR|tchung0
vti_modifiedby:SR|tchung0
vti_nexttolasttimemodified:TR|27 Sep 2003 15:37:07 -0000
vti_timecreated:TR|07 Oct 2003 22:48:25 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\tak.wai.chung.tucknt\\my documents\\my webs\\myweb4/c\:/documents and settings/tak.wai.chung.tucknt/my documents/my webs/myweb4:TR|27 Sep 2003 15:37:07 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|19 Oct 2003 16:45:11 -0000
vti_filesize:IR|5555
vti_cachedlinkinfo:VX|S|artbannd.gif S|artnvhnd.gif S|artnvhsd.gif S|arthomed.gif S|artnextd.gif S|artprevd.gif S|artupbtd.gif S|artnavgl.gif S|artnvvnd.gif S|artnvvsd.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/artsy/artbannd.gif FSUS|_themes/artsy/artnvhnd.gif FSUS|_themes/artsy/artnvhsd.gif FSUS|_themes/artsy/arthomed.gif FSUS|_themes/artsy/artnextd.gif FSUS|_themes/artsy/artprevd.gif FSUS|_themes/artsy/artupbtd.gif FSUS|_themes/artsy/artnavgl.gif FSUS|_themes/artsy/artnvvnd.gif FSUS|_themes/artsy/artnvvsd.gif
